body {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron, .card-header {
    background-color: #9457eb;
    color: white;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}

